#**

@author <a href="mailto:jeff@jivecast.com">Jeffery Painter</a>
@author <a href="mailto:jvanzyl@periapt.com">Jason van Zyl</a>
@version $Id: FluxPermissionList.vm,v 1.1.1.1 2017-11-26 23:07:21 painter Exp $

*#

## Call this first so the role is cached
#set ( $permissions = $flux.Permissions )

<h2>Permissions for Role: $!flux.CachedRole.Name </h2>

#set ( $headings = ["Permission Name"] )

<table class="w3-table w3-bordered">
        <tr>
          #foreach ($heading in $headings)
          <th>$heading</th>
          #end
        </tr>
  
        #foreach ($permission in $permissions )
        <tr>
          <td> $permission.Name </td>
          <td>
              <a href="$link.setPage("permission,FluxPermissionForm.vm").addPathInfo("name",$permission.Name).addQueryData("mode","modify")">Details</a> &nbsp;
              <a href="$link.setPage("permission,FluxPermissionForm.vm").addPathInfo("name",$permission.Name).addQueryData("mode","delete")">Remove</a>
          </td>
        </tr>
        #end
  <tr>
    <td>
        <a href="$link.setPage("permission,FluxPermissionForm.vm").addQueryData("mode","insert")">Add Permission</a>
    <td>
  </tr>
</table>

#if ($showEmbeddedMenu)
  <hr size="1" noshade>
  #parse ("screens/FluxEmbeddedMenu.vm")
#end
